body {
  background-color: #009688 !important;
  color: #212121;
  padding-top: 50pt;
  text-decoration: none !important;

}

a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
    color: #6FBEF3 !important;
}

.center {
  margin: auto;
  text-align: center;
}

/*####################*/
.floatBlock {
  display: inline-block;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

  margin: 5pt;
  width: 30%;
  min-width: 300px;
  height: 280px;
  overflow: visible;
}

.multiCameraWrapper {
  display: block;
  margin: auto;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

  max-width: 90%;
}
.multiCameraWrapper img {
  width: 100%;
}
.multiCameraWrapper .buttons{
  margin-bottom: 10px;
}
.multiCameraWrapper .cameras{
  margin: 10px;
}
.multiCameraWrapper .sliders{
  float: left;
  width:30%;
  padding: 40px;
  /*border: 1px solid #6FBEF3;*/
}
.slider {
  display: inline-block;
  width: 90%;
  margin-top: 30px;
}

/*########################*/


.display {
  margin: 16px; 
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid #fff;
  box-shadow: 0 0 10px;
}

.no-ui-slider *{
  transform: rotate(0deg) !important;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  background: #fff;
  padding: 5px;
  text-align: center;
  font: 700 12px/12px Arial;
  bottom: -26px;
  z-index: 2;
}
.noUi-origin {
  border-radius: 0px; 
}
.noUi-handle-lower{
  left: -12px !important;
}
.noUi-handle-upper{
  left: 0px !important;     
}
.noUi-handle-lower .noUi-tooltip{
  left: -20px !important;
}
.noUi-handle-upper .noUi-tooltip{
  left: 0px !important;     
}
.noUi-handle, .noUi-handle:before, .noUi-handle:after {
  width: 12px !important;
  height: 26px !important;
  border: 1px solid #464646 !important;
  border-radius: 0% !important;
  background: #464646 !important;
  cursor: default !important;
  content: none !important;
  box-shadow: none !important;
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.pure-menu-list {
  line-height: 36px;
  font-size: 16px
}
.pure-menu-children .pure-menu-item:hover {
  background: #efefef;
}

.home-menu {
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background: #00796B;
  text-align: left;

}

.home-menu .pure-menu-heading {
  font-size: 120%;
  line-height: 30px;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
}
